* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Arial Unicode MS", Helvetica, "DejaVu Sans", "Lucida Sans Unicode", sans-serif;
  font-style: normal;
  font-variant: normal;
  text-decoration: none solid rgb(26, 26, 26);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1A1A1A;
}



.topNav {
  color: #1a1a1a;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.7px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: start;
  text-indent: 0px;
  height: 80px;
  width: 100vw
}

.cart {
  width: 350px;
  min-height: 450px;
  max-height: 500px;
  position: absolute;
  top: 35px;
  background: #ffffff;
  z-index: 9999;
  padding: 5px;
}

.cartItem {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;

}

.cartItemButton {
  font-size: 8px;
  font-family: Arial, "Arial Unicode MS", Helvetica, "DejaVu Sans", "Lucida Sans Unicode", sans-serif;
  letter-spacing: 0.9px;


}

.cartItemListPrice {
  font-size: 12px;
  font-weight: 700;
  color: #1A1A1A;
}

.cartItemListName {
  font-size: 10px;
  font-weight: 700;
  color: #1a1a1a
}

.cartItemListAvailability {
  font-size: 13px;
  color: #1a1111
}

.buttonBgColor {
  background: #FF4E00
}

ul {
  list-style: none;
}

.product {
  min-height: 150px
}

.product_image {
  height: 300px;
}

.product_image img {
  max-width: 100%;
  height: 100%;
}

.product_image_ {
  max-width: 100%;
  max-height: 550px;
}

.MuiPaper-root.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary {
  background: rgb(243, 243, 243) !important;
  color: #A3A3A3 !important
}

.PrivateTabIndicator-colorSecondary-65 {
  background-color: #FF4E00 !important
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiBox-root-100 {
  background: rgb(243, 243, 243) !important;

}

.MuiTab-textColorInherit.Mui-selected:focus {
  outline: none;
}

.sideImage {
  height: 50px;
  width: 50px;
}