* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Arial Unicode MS", Helvetica, "DejaVu Sans", "Lucida Sans Unicode", sans-serif;
  font-style: normal;
  font-variant: normal;
  text-decoration: none solid rgb(26, 26, 26);
  text-decoration: none !important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1A1A1A;
}



.topNav {
  color: #1a1a1a;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: start;
  text-indent: 0px;
  width: 100vw
}

.searchInput:focus {
  outline: none
}

.cart {
  width: 350px;
  min-height: 450px;
  max-height: 500px;
  position: absolute;
  top: 35px;
  background: #ffffff;
  z-index: 9999;
  padding: 5px;
}

.cartItem {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid #E3E3E3;

}

.cartItemShoppingCart {
  height: 115px;
}

.cartItemButton {
  font-size: 8px;
  font-family: Arial, "Arial Unicode MS", Helvetica, "DejaVu Sans", "Lucida Sans Unicode", sans-serif;
  letter-spacing: 0.9px;


}

.cartItemListPrice {
  font-size: 12px;
  font-weight: 700;
  color: #1A1A1A;
}

.cartItemListName {
  font-size: 10px;
  font-weight: 700;
  color: #1a1a1a
}

.cartItemListAvailability {
  font-size: 13px;
  color: #1a1111
}

.buttonBgColor {
  background: #FF4E00
}

ul {
  list-style: none;
}

.product {
  min-height: 150px
}

.product_image {
  height: 300px;
}

.product_image img {
  max-width: 100%;
  height: 100%;
}

.product_image_ {
  max-width: 100%;
  max-height: 550px;
}

.MuiPaper-root.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary {
  background: rgb(243, 243, 243) !important;
  color: #A3A3A3 !important
}

.PrivateTabIndicator-colorSecondary-65 {
  background-color: #FF4E00 !important
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiBox-root-100 {
  background: rgb(243, 243, 243) !important;

}

.MuiTab-textColorInherit.Mui-selected:focus {
  outline: none;
}

.sideImage {
  height: 50px;
  width: 50px;
}

.CarouselHolder>div:first-child {
  width: 100%;
  height: 100%;
}

.CarouselHolder {
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .CarouselHolder {
    height: 200px;
  }

  .slide {
    font-size: 10px
  }
}

.carousel.carousel-slider {
  height: 100%;
}

.slider,
.slider-wrapper,
.slide {
  height: 100%;
}

.slide.selected {
  background: white;
}

a {
  color: black !important;
}

#invoice-POS {
  padding: 10px;
  margin: 0 auto;
  width: 290px;
  background: #FFF;
}

.Rate,
.itemtext {
  margin-bottom: 10px;
  margin-top: 10px
}

#invoice-POS ::selection {
  background: #f31544;
  color: #FFF;
}

#invoice-POS ::moz-selection {
  background: #f31544;
  color: #FFF;
}

#invoice-POS h1 {
  font-size: 1.5em;
  color: #222;
}

#invoice-POS h2 {
  font-size: .9em;
  margin-top: 10px
}

#invoice-POS h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}

#invoice-POS p {
  font-size: .7em;
  color: #666;
  line-height: 1.2em;
}

#invoice-POS #top,
#invoice-POS #mid,
#invoice-POS #bot {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #EEE;
}

#invoice-POS #top {
  min-height: 100px;
}

#invoice-POS #mid {
  min-height: 80px;
}

#invoice-POS #bot {
  min-height: 50px;
}

#invoice-POS #top .logo {
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}

#invoice-POS .clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}

#invoice-POS .info {
  display: block;
  margin-left: 0;
}

#invoice-POS .title {
  float: right;
}

#invoice-POS .title p {
  text-align: right;
}

#invoice-POS table {
  width: 100%;
  border-collapse: collapse;
}

#invoice-POS .tabletitle {
  font-size: .5em;
  background: #EEE;
}

#invoice-POS .service {
  border-bottom: 1px solid #EEE;
}

#invoice-POS .item {
  width: 24mm;
}

#invoice-POS .itemtext {
  font-size: .5em;
}

#invoice-POS #legalcopy {
  margin-top: 5mm;
}



.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f31544;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}

.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #FF4E00;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #FF4E00;
}

.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

.MuiBox-root.MuiBox-root-100 {
  padding: 0
}